$primary-color: #ffffff;
$secondary-color: #F71963;
$detail-color: #9f9f9f;
$footer-color: #2A2A2A;
$font-family: 'Poppins';
$font-size-base: 16px;

body {
    font-family: $font-family;
    background-color: $primary-color;
}